<!DOCTYPE html>
<html x-ng-app="xltReportViewer">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>vert.x AngularJS Base</title>
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script src="http://cdn.sockjs.org/sockjs-0.3.4.min.js"></script>
<script src="js/vertxbus.min.js"></script>
</head>
<body>
	<div x-ng-controller="Main" class="container">
		<div class="page-header">
			<h3>XLT Report Viewer</h3>
		</div>
		<div>
			<table class="table table-bordered table-condensed table-striped">
				<tr>
					<th x-ng-repeat="header in headers">{{header}}</th>
				</tr>
				<tr x-ng-repeat="report in xltReports">
					<td>{{report.name}}</td>
					<td>{{report.sut}}</td>
					<td><img x-ng-src="/{{report.name}}/HitsPerSecond.png"></img></td>
				</tr>
			</table>
		</div>
	</div>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
</body>
</html>