.input-append .btn {
	height: 30px;
}

.v10 {
	height: 10px;
}

.v25 {
	height: 25px;
}

.v40 {
	height: 40px;
}

.v100 {
	height: 100px;
}

.loadgraph {
	height: 250px;
	width: 750px;
}

.error-count {
	color: #b94a48;
}

.table .text-right {
	text-align: right
}

.table .text-left {
	text-align: left
}

.table .text-center {
	text-align: center
}

.view-enter,.view-leave {
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter {
	position: absolute;
	opacity: 0;
}

.view-enter.view-enter-active {
	opacity: 1;
}

.view-leave {
	position: absolute;
	opacity: 1;
}

.view-leave.view-leave-active {
	opacity: 0;
}